@import "tailwindcss";
@theme {
  --font-press: "Press Start 2P", system-ui;
  --font-right: "Righteous", system-ui;
  --font-ranchers: "Ranchers", system-ui;
}

body {
  background-color: black;
}

#root {
  min-height: 100vh;
  background-color: black;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 10s ease-in;
}
